<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cohesity Kubernetes Backup Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
</head>
<body>

    <!-- Page Heading -->
    <h1 class="page-heading">Cohesity Kubernetes Backup Demo</h1>

    <!-- Tab Navigation -->
    <div class="tab-container">
        <div class="tab-option active" onclick="showScreen('color-screen')">Block Storage</div>
        <div class="tab-option" onclick="showScreen('files-screen')">File Storage (Files)</div>
    </div>

    <!-- Color Storage Screen -->
    <div id="color-screen" class="screen active">
        
        <form action="/add" method="post" class="add-color-form">
            <input type="text" name="color" placeholder="Enter a color name" class="color-input">
            <button type="submit" class="submit-button">Add</button>
        </form>

        <h2>Postgre DB view</h2>

        <table class="colors-table">
            <tr>
                <th>Color Name</th>
                <th>Action</th>
            </tr>
            {% for color in colors %}
            <tr>
                <td>{{ color[1] }}</td>
                <td class="action-column">
                    <form action="/delete/{{ color[0] }}" method="post">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- File Storage Screen -->
    <div id="files-screen" class="screen">
         <!-- File Upload Section -->
        <div id="upload-section">
            <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file-upload" multiple>
                <button type="submit" class="submit-button">Upload</button>
            </form>
        </div>

        <!-- File Table -->
        <h2 class="files-table-title">Files in PVC</h2>
        <table class="files-table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Size (KB)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="file-list">
                {% for file in files %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td>{{ file.size }}</td>
                    <td class="action-column">
                        <form action="/delete_file/{{ file.name }}" method="post" class="delete-file-form">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Link to External JS File -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
